.horizontal-scrolling-cards {
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Webkit-based browsers (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
}

.cards-container {
  display: inline-block;
}

.card {
  width: 300px;
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  white-space: normal; /* Allow text to wrap within the cards */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for long text */
}
