/* Card.css */

.card {
    width: 300px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 10px;
      padding: 10px;
      text-align: center;
      background-color: whitesmoke;
  }
  
  .card img {
    max-width: 100%;
    width: 200px; /* Set the width and height of the container */
  height: 100px;
    border-radius: 5px;
    /* //width: 200px; Set an initial width for the image */
  height: auto; /* Maintain the aspect ratio while scaling */
  transition: transform 0.3s; /* Add a smooth transition effect */
  object-fit: cover;
  /* Set cursor to indicate the image can be clicked or interacted with */
  cursor: pointer;
  

  }
  .container {
    width: 200px; /* Set the width and height of the container */
    height: 300px;
    overflow: hidden; /* Hide any overflowing content */
    margin-left: 45px;
    
  }
  .card img:hover {
    transform: scale(1.2); /* Expand the image to 120% of its original size on hover */
  }  
  .card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: left;
  }
  
  .card p {
    font-size: 1rem;
    text-align: left;
  }
  