.App {
  text-align: center;
  background-color: #50cb94;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.latest{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -30px;
  border: 4px solid whitesmoke;
  font-size: 4ch;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  background-color: gray;
  color: whitesmoke;
}
.App-link {
  color: #61dafb;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive grid with a minimum column width of 300px */
  gap: 5px; /* Gap between cards */
  justify-content: center; /* Center the grid horizontally */
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
